#                           **PROYECTO FINAL**
### **Universidad Galileo**
### **Ciencia de Datos en Python**
#### __Integrantes del Grupo:__
<ol>
<li>05244009 - Debora Coo</li>
<li>20004646 - Jarileen Rucal</li>
<li>20004048 - Maria Reyes</li>
</ol>

### Paso1: Importación de Librerias

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Paso2: Importación de archivo npy

In [3]:
data = np.load('proyecto_training_data.npy')
data

array([[2.08500e+05, 7.00000e+00, 8.56000e+02, 8.00000e+00, 2.00300e+03,
        6.50000e+01],
       [1.81500e+05, 6.00000e+00, 1.26200e+03, 6.00000e+00, 1.97600e+03,
        8.00000e+01],
       [2.23500e+05, 7.00000e+00, 9.20000e+02, 6.00000e+00, 2.00100e+03,
        6.80000e+01],
       ...,
       [2.66500e+05, 7.00000e+00, 1.18800e+03, 9.00000e+00, 1.94100e+03,
        6.60000e+01],
       [1.42125e+05, 5.00000e+00, 1.07800e+03, 5.00000e+00, 1.95000e+03,
        6.80000e+01],
       [1.47500e+05, 5.00000e+00, 1.25600e+03, 6.00000e+00, 1.96500e+03,
        7.50000e+01]])

In [4]:
datos = pd.DataFrame(data, columns = ['SalePrice','OverallQual','1stFlrSF','TotRmAbvGrd','YearBuilt','LotFrontage'])
datos

      SalePrice  OverallQual  1stFlrSF  TotRmAbvGrd  YearBuilt  LotFrontage
0      208500.0          7.0     856.0          8.0     2003.0         65.0
1      181500.0          6.0    1262.0          6.0     1976.0         80.0
2      223500.0          7.0     920.0          6.0     2001.0         68.0
3      140000.0          7.0     961.0          7.0     1915.0         60.0
4      250000.0          8.0    1145.0          9.0     2000.0         84.0
...         ...          ...       ...          ...        ...          ...
1455   175000.0          6.0     953.0          7.0     1999.0         62.0
1456   210000.0          6.0    2073.0          7.0     1978.0         85.0
1457   266500.0          7.0    1188.0          9.0     1941.0         66.0
1458   142125.0          5.0    1078.0          5.0     1950.0         68.0
1459   147500.0          5.0    1256.0          6.0     1965.0         75.0

[1460 rows x 6 columns]

### Separación de Datos

In [6]:
from sklearn.model_selection import train_test_split 
datos_train, datos_test = train_test_split(datos, test_size = 0.20)

print("Ejemplos usados para entrenar: ", len(datos_train))
print("Ejemplos usados para test: ", len(datos_test))

Ejemplos usados para entrenar:  1168
Ejemplos usados para test:  292

In [7]:
datos_train

      SalePrice  OverallQual  1stFlrSF  TotRmAbvGrd  YearBuilt  LotFrontage
245    241500.0          7.0    1872.0          6.0     1988.0         80.0
1190   168000.0          4.0    1622.0          7.0     1961.0          NaN
1031   197000.0          7.0    1687.0         12.0     1920.0        102.0
1319   111000.0          4.0     948.0          5.0     1954.0         75.0
948    192500.0          7.0     936.0          7.0     2002.0         65.0
...         ...          ...       ...          ...        ...          ...
125     84500.0          6.0     520.0          5.0     1935.0         60.0
807    223500.0          5.0    1072.0          6.0     1923.0        144.0
1269   144000.0          5.0     874.0          7.0     1958.0         78.0
465    178740.0          7.0    1414.0          6.0     2004.0          NaN
931    117500.0          5.0     925.0          5.0     1965.0         70.0

[1168 rows x 6 columns]

In [8]:
datos_test

      SalePrice  OverallQual  1stFlrSF  TotRmAbvGrd  YearBuilt  LotFrontage
470    212000.0          8.0    1502.0          4.0     1985.0          NaN
768    216837.0          7.0    1836.0          8.0     2004.0         70.0
466    167000.0          7.0    1277.0          5.0     1970.0         85.0
298    175000.0          6.0    1041.0          7.0     1968.0         90.0
751    162000.0          7.0     660.0          6.0     2003.0          NaN
...         ...          ...       ...          ...        ...          ...
863    132500.0          5.0    1148.0          6.0     1959.0         70.0
68      80000.0          4.0     747.0          4.0     1945.0         47.0
1274   139000.0          5.0     661.0          8.0     1910.0         53.0
385    192000.0          8.0    1269.0          6.0     2004.0         43.0
527    446261.0          9.0    1476.0         11.0     2008.0         67.0

[292 rows x 6 columns]

In [9]:
datos_train.shape

(1168, 6)

In [10]:
datos_test.shape

(292, 6)

In [11]:
datos_train.head(2)

      SalePrice  OverallQual  1stFlrSF  TotRmAbvGrd  YearBuilt  LotFrontage
245    241500.0          7.0    1872.0          6.0     1988.0         80.0
1190   168000.0          4.0    1622.0          7.0     1961.0          NaN

In [12]:
datos_test.head(2)

     SalePrice  OverallQual  1stFlrSF  TotRmAbvGrd  YearBuilt  LotFrontage
470   212000.0          8.0    1502.0          4.0     1985.0          NaN
768   216837.0          7.0    1836.0          8.0     2004.0         70.0

In [13]:
datos_train.dtypes

SalePrice      float64
OverallQual    float64
1stFlrSF       float64
TotRmAbvGrd    float64
YearBuilt      float64
LotFrontage    float64
dtype: object

### 3. Analisis Exploratorio

In [14]:
# Calculo de Media, Mediana y Moda
media_datos = datos["SalePrice"].mean()
mediana_datos = datos["SalePrice"].median()
moda_datos = datos["SalePrice"].mode()
print("""
    Media_Datos: %d
    Mediana_Datos: %d
    Moda_Datos: %d
""" % (media_datos,mediana_datos,moda_datos))

    Media_Datos: 180921
    Mediana_Datos: 163000
    Moda_Datos: 140000

In [15]:
media_datos = datos["OverallQual"].mean()
mediana_datos = datos["OverallQual"].median()
moda_datos = datos["OverallQual"].mode()
print("""
    Media_Train: %d
    Mediana_Train: %d
    Moda_Train: %d
""" % (media_datos,mediana_datos,moda_datos))

    Media_Train: 6
    Mediana_Train: 6
    Moda_Train: 5

In [16]:
# Calculo valor Maximo y Minimo
np.amin(datos)

SalePrice      34900.0
OverallQual        1.0
1stFlrSF         334.0
TotRmAbvGrd        2.0
YearBuilt       1872.0
LotFrontage       21.0
dtype: float64

In [17]:
np.amax(datos)

SalePrice      755000.0
OverallQual        10.0
1stFlrSF         4692.0
TotRmAbvGrd        14.0
YearBuilt        2010.0
LotFrontage       313.0
dtype: float64

In [18]:
#Calculo de dispersión: desviacion, varianza
std_datos = datos["SalePrice"].std(ddof=0)
var_datos = datos["SalePrice"].var(ddof=0)
print("""
    Desviacion_Datos: %d
    Variacion_Datos: %d
""" % (std_datos,var_datos))

    Desviacion_Datos: 79415
    Variacion_Datos: 6306788585

In [19]:
std_datos = datos["OverallQual"].std(ddof=0)
var_datos = datos["OverallQual"].var(ddof=0)
print("""
    Desviacion_Datos: %d
    Variacion_Datos: %d
""" % (std_datos,var_datos))

    Desviacion_Datos: 1
    Variacion_Datos: 1

In [20]:
#Calculo de Rango
rango_datos = datos["SalePrice"].max() - datos["SalePrice"].min()
print("""
    Rango_Datos: %d
""" % (rango_datos))

    Rango_Datos: 720100

In [21]:
rango_datos = datos["OverallQual"].max() - datos["SalePrice"].min()
print("""
    Rango_Datos: %d
""" % (rango_datos))

    Rango_Datos: -34890