#                           **PROYECTO FINAL**
### **Universidad Galileo**
### **Ciencia de Datos en Python**
#### __Integrantes del Grupo:__
<ol>
<li>05244009 - Debora Coo</li>
<li>20004646 - Jarileen Rucal</li>
<li>20004048 - Maria Reyes</li>
</ol>

### Paso1: Importación de Librerias

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Paso2: Importación de archivo npy

In [3]:
data = np.load('proyecto_training_data.npy')
data

array([[2.08500e+05, 7.00000e+00, 8.56000e+02, 8.00000e+00, 2.00300e+03,
        6.50000e+01],
       [1.81500e+05, 6.00000e+00, 1.26200e+03, 6.00000e+00, 1.97600e+03,
        8.00000e+01],
       [2.23500e+05, 7.00000e+00, 9.20000e+02, 6.00000e+00, 2.00100e+03,
        6.80000e+01],
       ...,
       [2.66500e+05, 7.00000e+00, 1.18800e+03, 9.00000e+00, 1.94100e+03,
        6.60000e+01],
       [1.42125e+05, 5.00000e+00, 1.07800e+03, 5.00000e+00, 1.95000e+03,
        6.80000e+01],
       [1.47500e+05, 5.00000e+00, 1.25600e+03, 6.00000e+00, 1.96500e+03,
        7.50000e+01]])

In [4]:
datos = pd.DataFrame(data, columns = ['SalePrice','OverallQual','1stFlrSF','TotRmAbvGrd','YearBuilt','LotFrontage'])
datos

      SalePrice  OverallQual  1stFlrSF  TotRmAbvGrd  YearBuilt  LotFrontage
0      208500.0          7.0     856.0          8.0     2003.0         65.0
1      181500.0          6.0    1262.0          6.0     1976.0         80.0
2      223500.0          7.0     920.0          6.0     2001.0         68.0
3      140000.0          7.0     961.0          7.0     1915.0         60.0
4      250000.0          8.0    1145.0          9.0     2000.0         84.0
...         ...          ...       ...          ...        ...          ...
1455   175000.0          6.0     953.0          7.0     1999.0         62.0
1456   210000.0          6.0    2073.0          7.0     1978.0         85.0
1457   266500.0          7.0    1188.0          9.0     1941.0         66.0
1458   142125.0          5.0    1078.0          5.0     1950.0         68.0
1459   147500.0          5.0    1256.0          6.0     1965.0         75.0

[1460 rows x 6 columns]